<html>

	<body>
		<table width="800" border="0" align="center" cellpadding="5">
			<tr>
				<td colspan="2">Pawan Kumar Soudari Basic Info<hr/></td>
			</tr>
			<tr>
				<td width="50%" align="right">Full Name:</td>
				<td>PAVAN KUMAR.S</td>
			</tr>
			<tr>
				<td align="right">Father's Name:</td>
				<td>NEELAKANTAPPA.S</td>
			</tr>
			<tr>
				<td align="right">Age:</td>
				<td>22 Years</td>
			</tr>
			<tr>
				<td align="right">Date of Birth:</td>
				<td>24<sup>th</sup> sep</td>
			</tr>
			<tr>
				<td align="right">Religion:</td>
				<td>hindu</td>
			</tr>
			<tr>
				<td align="right">Nationality:</td>
				<td>Indian</td>
			</tr>
			<tr>
				<td colspan="2">Contact Details<hr/></td>
			</tr>
			<tr>
				<td align="right" valign="top">Address:</td>
				<td>25/623.</br>
				 Havannapet,kurnool dis,</br>
				Adoni 518301</td>
			</tr>
			<tr>
				<td align="right" valign="top">Phone Number:</td>
				<td>(R)0281-235645</br>
				(M)9071320567</td>
			</tr>
			<tr>
				<td align="right">Email Address:</td>
				<td>pawankumrprabha@gmail.com</td>
			</tr>
			<tr>
				<td colspan="2">Eduction & Knowledge<hr/></td>
			</tr>
			<tr>
				<td align="right">Language:</td>
				<td>English, Hindi, kannada,telugu</td>
			</tr><tr>
				<td align="right">Eduction:</td>
				<td>BE(BTECH)</td>
			</tr><tr>
				<td align="right">Other Knowledge:</td>
				<td>PYTHON C C++</td>
			</tr><tr>
				<td align="right">Hobbies:</td>
				<td>Computer, Cricket, Travelling</td>
			</tr>
			<tr>
				<td colspan="2">About Me<hr/></td>
			</tr>
			<tr>
				<td colspan="2">To persevere with dedication and enthusiasm for the achievement of the organization objective hence enhancing my technical skill and knowledge and willingness to learn more.<hr/></td>
			</tr>
		</table>
	</body>

</html>